body {
    font-family: 'Arial', sans-serif; 
    background-color: #f8f8f8; 
    color: #333; 
    margin: 0 auto; 
    padding: 20px;
    max-width: 900px; 
}


h1 {
    color: #8B0000; 
    text-align: center;
    border-bottom: 3px solid #FF4500;
    padding-bottom: 10px;
    margin-bottom: 30px;
}


h2 {
    color: #4B0082;
}

ol {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

ol a {
    text-decoration: none; 
    color: #008000; 
    font-weight: bold;
}


section {
    padding: 30px 0;
    margin-top: 20px;
}

section img {
    
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 15px auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}


section a {
    color: #FF8C00; 
    font-style: italic;
    display: block;
    margin-top: 10px;
}

body {
    font-family: 'Arial', sans-serif; 
    background-color: #f8f8f8; 
    color: #333; 
    margin: 0 auto; 
    padding: 20px;
    max-width: 900px;
}


h1 {
    color: #8B0000; 
    text-align: center;
    border-bottom: 3px solid #FF4500; 
    padding-bottom: 10px;
    margin-bottom: 30px;
}


h2 {
    color: #4B0082; 
}

ol {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); 
}

ol a {
    text-decoration: none; 
    color: #008000;
    font-weight: bold;
}


section {
    padding: 30px 0;
    margin-top: 20px;
}

section img {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 15px auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


section a {
    color: #FF8C00; 
    font-style: italic;
    display: block;
    margin-top: 10px;
}


#btnTema {
    display: block;
    margin: 10px auto 30px auto;
    padding: 10px 20px;
    background-color: #4B0082; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


body.tema-oscuro {
    background-color: #1e1e1e; 
    color: #f0f0f0; 
}

body.tema-oscuro h1 {
    color: #FFD700; 
    border-bottom-color: #DAA520;
}

body.tema-oscuro h2 {
    color: #4682B4; 
}

body.tema-oscuro ol {
    background-color: #333; 
    border-color: #555;
}

body.tema-oscuro ol a {
    color: #98FB98; 
}